*{
    margin: 0;
    padding: 0;
}
#citat{
    color: #333;
    width: 440px;
    height: 30px;
    margin: 0 auto;
    text-align: center; 
}
#citation{
    /* width: 147px; */
    /* height: 180px; */
    margin: 20px auto;
    text-align: center;
    /* background-color: lightblue; */
}
#img_citat{
    width: 100%;
    height: 100%;
    margin: 50px auto;
    text-align: center;
}
#idd{
    width: 500px;
    height: 300;
}